@{
    ViewBag.Title = "Contacto:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. del Libertador 6796<br />
    Nuñez, Buenos Aires<br />
    <abbr title="Phone">Teléfono:</abbr>
    011 4789-6500
</address>

<address>
    <strong>Hector Baragli:</strong> <a href="mailto:hbaragli@gmail.com">hbaragli@gmail.com</a><br />
    <strong>Sebastián Reh:</strong> <a href="mailto:sebastianreh@gmail.com">sebastianreh@gmail.com</a>
</address>