@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos </h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crear un empleado</h2>
        <p>
            Aqui puede registrar a un nuevo empleado.
        </p>
        <p><a class="btn btn-default" href="~/Empleados/Create">Crear empleado &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crear una solicitud</h2>
        <p>Aqui puede agregar nuevas solicitudes o consultar la de los empleados.</p>
        <p><a class="btn btn-default" href="~/Solicitudes/Index">Crear solicitud &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crear un mensaje</h2>
        <p>Aqui puede crear nuevos mensajes o consultar la de los empleados.</p>
        <p><a class="btn btn-default" href="~/Mensajes/Index">Crear mensaje &raquo;</a></p>
    </div>
</div>